.slick-slider {
    .card {
      
        border-radius: 0 ;
        border: none;
    }
    .card-footer{
        box-shadow: 1px 3px 6px 2px #e8e8e8;
        background-color: #0a7256bf;
        position: absolute;
        bottom:  0;
        width: 100%;
        color: white;
        font-size: 1rem;
        z-index: 9;
        text-transform: capitalize;

    }
}