.Header__navbar {

    position: sticky ;
    background-color: white;
}

.Header__magical {
    box-shadow: 0 30px 30px rgba(0,0,0,.02), 0 0 8px rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.05);
    transition-property: all;
    transition-duration: .15s;
}

@media (min-width: 992px) {
    
.showInMobileOnly {
    display: none;
}
    }